div {
    text-align: center;
}

.article p, .article ul, .article ol, .article blockquote {
    max-width: 45em;
}

.article p:first-child {
    font-size: 1.25em;
    font-weight: 300;
    max-width: 36em; /* 45 / 1.25 */
}

#navbar {
    background-color: {{ .Site.Params.primaryColor }};
    padding-top: 0;
    padding-bottom: 0;
}

#navbar .navbar-brand {
    color: {{ .Site.Params.secondaryColor }};
}

#navbar img {
    height: 60px;
    width: auto;
}

#navbar .navbar-item .nav-link {
    color: {{ .Site.Params.secondaryColor }};
}

#header-img {
    margin: auto;
    text-align: center;
}
